matplotlib==3.5.2
numpy==1.22.4
tensorflow-gpu==2.9.3
tensorflow-estimator==2.9.0
scikit-learn==1.1.1
Pillow==9.1.1
pandas==1.4.3
scipy==1.8.1
keras==2.9.0
graphviz==0.20
kiwisolver==1.4.3
ipython~=8.4.0
pygad>=2.8.0
